<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="format-detection" content="telephone=no" />
<title>
  {{title}}
</title>
<meta name="description" content="{{description}}" />
<meta name="Keywords" content="{{keywords}}" />
<link
  rel="shortcut icon"
  href="//www.hull.ac.uk/site-elements/img/favicon/favicon.ico?v=XBJ4bz98X3"
 />

<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
  integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
  crossorigin="anonymous"
 />
